@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}

.hero-text {
  float:left;
  width: 66%;
}

.hero-pic {
  padding-left: 2rem;
  float:right;
  width: 33%;
}

.container p {
  font-size: large;
}

.hero {
  background-color: #42b883;
  border-radius: 10px;
}

.hero-body .container {
  border-radius: 20px;
  background-color: #f5f5f5;
  padding: 2rem;
  box-shadow: 22px 22px #1F3D0C;
}

.navbar-item {
  font-size: 1.25rem;
}

.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
  color: #42b883;
}

.column svg {
  font-size: 7rem;
  transition: all 0.5s;
}

.column svg:hover {
  font-size: 8rem;
  color: #42b883;
}