@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}

h2 {
  text-align: left;
  font-size: larger;
}

.navbar-item {
  font-size: 1.25rem;
}

.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
  color: #42b883;
}

.column svg {
  font-size: 7rem;
  transition: all 0.5s;
}

.column svg:hover {
  font-size: 8rem;
  color: #42b883;
}